html {
	font-size:12px;
	line-height:1.1;
}

body {
	font-family: "DIN Next", Helvetica, Arial, sans-serif;
	position:relative;
	margin:0;
	padding:50px;
	background-color:#222;
	height:400vh;
	color:white;
}


@keyframes rotatex {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateX(90deg);
	}
}


@keyframes rotatey {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(-90deg);
	}
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}



.mat {
	perspective:270rem;
	perspective-origin:8rem 8rem;
	position:relative;
}

table {
	border-collapse:collapse;

}

.rot,
thead,
tbody th {			
	animation-duration:900ms;
	animation-timing-function:ease-out;
	animation-fill-mode: forwards;
}

.rot {
	position:relative;
	transform-style:preserve-3d;
	transform-origin:8rem 8rem;	
}

.mat-next {
	position:absolute;
	top:0;
	left:0;
	display:none;
	transform-style:preserve-3d;
	transform-origin:8rem 8rem;	
}



th,
td,
thead > tr > th > b {
	box-sizing:border-box;
	-webkit-user-select:none;
	cursor:default;
}

thead > tr > th > b,
tbody th, 
td {
	height:3rem;
}

thead > tr > th, td {
	width:3rem;
}

tbody th,
thead > tr > th > b,
thead > tr > th:first-child {
	width:8rem;
}

thead > tr > th {
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	height:8rem;
	vertical-align:bottom;
	position:relative;
}

thead > tr > th:first-child {
	border:0;
}

thead > tr > th > b {
	display:flex; 
	justify-content:flex-start;
	align-items:center;
	position:absolute;
	left:50%;
	bottom:-0.75rem;
	text-align:left;
	transform:rotate(-90deg);
	transform-origin:left center;
}

tbody th {
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	text-align:right;
	padding-right:0.75rem;
}

td {
	position:relative;
	text-align:center;
	vertical-align:middle;
	border:1px solid white;
}


thead th:hover,
thead th.hovering,
tbody > tr:hover th,
th.selected {
	color:rgb(255,191,0);
}

td:hover:after,
td.selected:before {
	position:absolute;
	display:block;
	content:'\a0';
	z-index:1;
	top:-3px;
	right:-3px;
	bottom:-3px;
	left:-3px;	
}

td:hover:after {
	z-index:2;
	border-radius:3px;
	border:2px solid rgb(255,191,0);
	color:rgb(255,191,0);
}

td.selected:before {
	z-index:1;
	border-radius:3px;
	border:2px solid transparent;
	background-clip:padding-box;
}

td.c0:before {
	border-left:2px solid rgb(255,191,0);
}

td.c1:before {
	border-right:2px solid rgb(255,191,0);
}

td.r0:before {
	border-top:2px solid rgb(255,191,0);
}

td.r1:before {
	border-bottom:2px solid rgb(255,191,0);
}




.mat-cols,
.mat-rows {
	position:absolute;
	display:none;
	top:0;
	left:0;
}

.mat-cols tbody,
.mat-rows td {
	visibility:hidden;
}






.rot-y .rot {
	animation-name:rotatey;
}

.rot-y .mat-next {
	transform:rotateY(90deg);
	display:table;
}

.rot-y .mat-rows {
	display:table;
}

.rot-y .mat-next tbody th ,
.rot-y .mat-data tbody th {
	visibility:hidden;
}

.rot-y .mat-next thead {
	animation-name:fadein;
}




.rot-x .rot {
	animation-name:rotatex;
}

.rot-x .mat-next {
	transform:rotateX(-90deg);
	display:table;
}

.rot-x .mat-cols {
	display:table;
}

.rot-x .mat-next thead,
.rot-x .mat-data thead {
	visibility:hidden;
}

.rot-x .mat-next tbody th {
	animation-name:fadein;
}




.m-0 { background-color:rgba(0,158,208,0.1); }
.m-1 { background-color:rgba(0,158,208,0.2); }
.m-2 { background-color:rgba(0,158,208,0.3); }
.m-3 { background-color:rgba(0,158,208,0.4); }
.m-4 { background-color:rgba(0,158,208,0.5); }
.m-5 { background-color:rgba(0,158,208,0.6); }
.m-6 { background-color:rgba(0,158,208,0.7); }
.m-7 { background-color:rgba(0,158,208,0.8); }
.m-8 { background-color:rgba(0,158,208,0.9); }
.m-9 { background-color:rgba(0,158,208,1.0); }


.selected.m-0 { background-color:rgba(212,159,0,0.55); }
.selected.m-1 { background-color:rgba(212,159,0,0.6); }
.selected.m-2 { background-color:rgba(212,159,0,0.65); }
.selected.m-3 { background-color:rgba(212,159,0,0.7); }
.selected.m-4 { background-color:rgba(212,159,0,0.75); }
.selected.m-5 { background-color:rgba(212,159,0,0.8); }
.selected.m-6 { background-color:rgba(212,159,0,0.85); }
.selected.m-7 { background-color:rgba(212,159,0,0.9); }
.selected.m-8 { background-color:rgba(212,159,0,0.95); }
.selected.m-9 { background-color:rgba(212,159,0,1.0); }



#test-buttons {
	position:fixed;
	bottom:50px;
	right:50px;
}





